//подключение шрифтов ==================================================================================================================================================================
//Подключить если есть локальные файлы шрифтов
@import "../fonts/fonts";

//Подключение иконочных шрифтов ========================================================================================================================================================
//Подключить если есть файл иконочного шрифта
//@import "../fonts/icons";

//Шрифт по умолчанию--------------------------------------------------------------------------------------------------------------------------------------------------------------------

$fontFamily: Nunito;
$fontsize: 16px; // где 14(px) - размер шрифта по умолчанию

//Основные цвета
$mainColor: #fff; // Цвет шрифта по умолчанию

//Основной цвет заднего фона
$mainBgColor: #ff99cc;
// Настройки ===========================================================================================================================================================================
//Ширинм ограничивающего контейнера
$maxWidthContainer: 1400px;
//Общий отступ у контейнера
$containerPadding: 10px;

div[class$="container"] {
	max-width: $maxWidthContainer;
	padding: 0 $containerPadding;
	margin: 0 auto;
}

body {
	background: $mainBgColor;
	font-family: $fontFamily;
	font-size: $fontsize;
	color: $mainColor;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}
.content {
	flex: 1 1 auto;
}
